<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p><IMG SRC="{{ site.baseurl }}/public/photos/abme.jpg"></p>
    <p>
      Hi, I am Laura Cabello. I recently completed a Masters degree in Telecommunication Engineering at the University of Zaragoza.
      Currently I am working as a researcher within the audio group at my hometown university. 
      My principal research interests are signal processing, audio technologies and natural language processing (NLP). And I love when they help to solve real, human problems.
    </p>
    <p>
      I am a curious person and I do enjoy traveling the world. All these experiences shape who I am today and help me to gain a richer understanding of life. <br /> 
    </p>
    <p><em>"I guess I could be pretty pissed off about what happened to me, but it’s hard to stay mad when there’s so much beauty in the world. Sometimes I feel like I’m seeing it all at once, and it’s too much. My heart fills up like a balloon that’s about to burst. And then I remember to relax, and stop trying to hold on to it, and then it flows through me like rain, and I can’t feel anything but gratitude for every single moment of my stupid little life."</em></p>
    <p align="right"><em>Lester Burnham (Kevin Spacey), in American Beauty (written by Alan Ball)</em></p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    
    <a style="color:blue;" href="https://www.linkedin.com/in/laura-cabello-piqueras-167352104/">LinkedIn</a><br />
    <a style="color:blue;" href="{{ site.baseurl }}/public/pdf/CV.PDF">Link to my brief CV</a>

  </div>  
</div>
